<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>IBM</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="../css/style.css" />
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Open+Sans&display=swap" rel="stylesheet">

</head>

<body>

  <div class="container cbfull">
    <div class="login-box">
      <div class="image-containers">
        <img src="../images/ibm_PNG19656.png" alt="IBM" class="ibm-logo"/>

        <img src="../images/github-logo.png" alt="IBM" class="git-logo"/>      
      
      </div>
      <div class="text-info1">
        The Octocat can hear now!
      </div>
      <div class="login-detail-box" onclick="loginlink()">
        Login With GitHub
      </div>

    </div>

  </div>

  

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script>
    $(document).ready(function(){
      
    });

    function loginlink(){
      window.location.href="/login";
    }
  </script>
</body>

</html>